.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-initial {
  font-size: 18px;
  font-weight: bold;
}

